*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body,
html {
  overflow: hidden;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
